body {
  margin: 0;
  line-height: normal;
  font-family: 'Montserrat', sans-serif;
}

:root {
  /* fonts */
  --dropdown-menu-item: Roboto;
  --font-inter: Inter;
  --font-montserrat: Montserrat;
  --font-gilroy-medium: Gilroy-Medium;
  --font-gilroy-bold: Gilroy-Bold;

  /* font sizes */
  --dropdown-menu-item-size: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-3xs-4: 9.4px;
  --font-size-xs-3: 11.3px;
  --base-body-2-size: 15px;
  --font-size-xs-6: 11.6px;
  --font-size-sm-3: 13.3px;
  --font-size-2xs-3: 10.3px;

  /* Colors */
  --color-gray-100: #7a7a7a;
  --color-gray-200: #2c2543;
  --color-gray-300: rgba(0, 0, 0, 0.53);
  --icon-white: #fff;
  --font-deafault-b: #343434;
  --base-primary-1: #0832de;
  --color-black: #000;
  --color-indianred-100: #de6363;
  --color-gainsboro: #dcdcdc;
  --color-royalblue-100: #6f74ea;
  --color-royalblue-200: #5272e9;
  --color-lavender: #e9efff;
  --color-skyblue: #24b0c9;
  --color-lightcyan: #e6feff;
  --color-darkgray-100: #b1b1b1;
  --color-darkgray-200: #a6a6a6;
  --default-base-back-dark: #c4c4c4;
  --color-silver-100: #b7b7b7;
  --color-silver-200: rgba(196, 196, 196, 0);
  --color-goldenrod: #e3bd5c;
  --color-khaki: #f8d57e;

  /* Gaps */
  --gap-xs: 12px;
  --gap-xl: 20px;
  --gap-mid-4: 17.4px;
  --gap-3xs: 10px;
  --gap-7xs-6: 5.6px;
  --gap-7xs-7: 5.7px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-10xs-5: 2.5px;
  --padding-13xl: 32px;
  --padding-6xs: 7px;
  --padding-6xs-6: 6.6px;
  --padding-mid-8: 17.8px;
  --padding-base-7: 16.7px;
  --padding-12xs-9: 0.9px;
  --padding-5xs-6: 7.6px;
  --padding-xs-3: 11.3px;
  --padding-3xs-4: 9.4px;
  --padding-smi-2: 12.2px;
  --padding-lg: 18px;
  --padding-mid-9: 17.9px;
  --padding-xl: 20px;
  --padding-4xs-4: 8.4px;
  --padding-xs-9: 11.9px;
  --padding-11xl-9: 30.9px;
  --padding-6xs-7: 6.7px;
  --padding-2xs: 11px;
  --padding-4xs: 9px;
  --padding-smi-1: 12.1px;
  --padding-mid: 17px;
  --padding-base: 16px;
  --padding-base-6: 16.6px;
  --padding-mid-7: 17.7px;
  --padding-8xs-1: 4.1px;
  --padding-5xs-7: 7.7px;
  --padding-smi: 13px;
  --padding-sm-2: 13.2px;
  --padding-sm-1: 13.1px;
  --padding-base-9: 16.9px;
  --padding-mini-1: 14.1px;
  --padding-base-1: 15.1px;
  --padding-base-4: 15.4px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-11xl: 30px;
  --br-9xl-2: 28.2px;
  --br-7xs-6: 5.6px;
  --br-lg-8: 18.8px;
  --br-8xs: 5px;
  --br-base-6: 16.6px;
  --br-4xs-3: 8.3px;
  --br-5xs-5: 7.5px;
  --br-8xs-7: 4.7px;
}


