.icon28 {
  height: 32px;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 51px;
  left: 305px;
}
.unsplashrmowqdcqn2e-icon6 {
  height: 39px;
  width: 39px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.company3 {
  height: 23px;
  width: 90px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.unsplashrmowqdcqn2e-parent1 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  gap: var(--gap-4xs);
}
.icon-users18 {
  width: 24px;
  overflow: hidden;
}
.icon-users18,
.icons42,
.text47 {
  height: 24px;
  position: relative;
  flex-shrink: 0;
}
.text47 {
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.icons42 {
  width: 24px;
  overflow: hidden;
  display: none;
}
.sidebar-tabs26 {
  width: 121px;
  border-radius: var(--br-3xs);
  background-color: var(--base-primary-1);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
  color: var(--font-default-w);
}
.icon29,
.text48 {
  position: relative;
}
.icon29 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text48 {
  height: 19px;
  flex: 1;
  display: inline-block;
}
.icons43 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sidebar-tabs27 {
  width: 125px;
  border-radius: var(--br-3xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.icon30,
.text49 {
  position: relative;
}
.icon30 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text49 {
  height: 19px;
  flex: 1;
  display: inline-block;
}
.icons44 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div3,
.icons44 {
  position: relative;
}
.badges3,
.sidebar-tabs29 {
  justify-content: flex-start;
}
.badges3 {
  border-radius: var(--br-3xl);
  background-color: var(--color-indianred);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs);
  text-align: center;
  color: var(--font-default-w);
}
.sidebar-tabs29 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-mini);
  gap: var(--gap-xs);
}
.text50 {
  height: 24px;
  width: 72px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.sidebar-tabs111 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
}
.text51 {
  height: 24px;
  width: 72px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.sidebar-tabs210 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
}
.text52 {
  height: 24px;
  width: 72px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.sidebar-tabs1-parent1,
.sidebar-tabs28,
.sidebar-tabs34 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-tabs34 {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-mini);
}
.sidebar-tabs1-parent1,
.sidebar-tabs28 {
  flex-direction: column;
}
.sidebar-tabs1-parent1 {
  display: flex;
  padding: 0 0 0 var(--padding-17xl);
}
.sidebar-tabs28 {
  display: none;
  gap: var(--gap-xs);
}
.icon-users19 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text53 {
  height: 19px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.icons45 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sidebar-tabs30 {
  width: 110px;
  border-radius: var(--br-3xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.main-tabs3 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-5xs);
}
.icon-users20 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text54 {
  height: 19px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.icons46 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sidebar-tabs35 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-11xs) var(--padding-xs)
    var(--padding-mini);
  gap: var(--gap-xs);
}
.secondary-tabs3 {
  width: 189px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-13xl);
  box-sizing: border-box;
}
.main-tabs-parent1,
.sidebar3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.main-tabs-parent1 {
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--dropdown-menu-item-size);
  color: var(--font-deafault-b);
}
.sidebar3 {
  margin-top: -1px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--font-default-w);
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 var(--padding-294xl) 0;
  gap: var(--gap-xs);
  z-index: 1;
}
.icon-users21 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text55 {
  position: relative;
  display: inline-block;
  min-width: 72px;
}
.text-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.icons47 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.sidebar-tabs36,
.unsplashrmowqdcqn2e-icon7 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.sidebar-tabs36 {
  bottom: 26px;
  left: 35px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  gap: var(--gap-xs);
  font-size: var(--dropdown-menu-item-size);
  color: var(--font-deafault-b);
}
.unsplashrmowqdcqn2e-icon7 {
  width: 39px;
  height: 39px;
  top: 151px;
  left: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.anh-vinh3 {
  width: 90px;
  top: 159px;
  right: 85px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.anh-vinh3,
.kpi-control3,
.remove-bg-1-icon3 {
  margin: 0 !important;
  position: absolute;
  z-index: 2;
}
.remove-bg-1-icon3 {
  width: 45px;
  height: 45px;
  top: 18px;
  left: 22px;
  object-fit: cover;
}
.kpi-control3 {
  width: 194px;
  top: 27.5px;
  right: 0;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.04em;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-gray-200);
  display: inline-block;
}
.frame-child4 {
  height: 48px;
  width: 170px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--font-default-w);
  display: none;
}
.icon-users22 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text56 {
  position: relative;
  font-size: var(--dropdown-menu-item-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  font-family: var(--dropdown-menu-item);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 76px;
}
.icons48 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.trang-ch6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
  height: 100%;
}
.frame-child5 {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 33px;
  height: 23px;
  object-fit: cover;
  z-index: 1;
}
.group-div {
  height: 48px;
  flex: 1;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--font-default-w);
  width: 171px;
  margin: 0 !important;
  position: absolute;
  top: 377px;
  left: 30px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.icon-users23 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text57 {
  position: relative;
  font-size: var(--dropdown-menu-item-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  font-family: var(--dropdown-menu-item);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.icons49 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.trang-ch7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-mini);
  background-color: var(--font-default-w);
  width: 170px;
  margin: 0 !important;
  position: absolute;
  top: 235px;
  left: 30px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
  z-index: 2;
}
.icon31,
.text58 {
  position: relative;
}
.icon31 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text58 {
  font-size: var(--dropdown-menu-item-size);
  font-family: var(--dropdown-menu-item);
  color: var(--font-deafault-b);
  text-align: left;
  display: inline-block;
  min-width: 66px;
}
.text-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.icons50 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.thng-k9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-mini);
  background-color: var(--font-default-w);
  width: 170px;
  margin: 0 !important;
  position: absolute;
  top: 451px;
  left: 30px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
  z-index: 2;
}
.icon32,
.text59 {
  position: relative;
}
.icon32 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text59 {
  font-size: var(--dropdown-menu-item-size);
  display: inline-block;
  font-family: var(--dropdown-menu-item);
  color: var(--font-default-w);
  text-align: left;
  min-width: 52px;
}
.text-wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.icons51 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.thng-k10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--base-primary-1);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
  height: 100%;
  z-index: 2;
}
.settings-icon3 {
  position: absolute;
  top: 12px;
  left: 12.6px;
  width: 21.8px;
  height: 24px;
  object-fit: cover;
  z-index: 3;
}
.kpi-creation {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 170px;
  height: 48px;
  position: absolute;
  margin: 0 !important;
  bottom: 372px;
  left: 30px;
}
.icon33,
.text60 {
  position: relative;
}
.icon33 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text60 {
  font-size: var(--dropdown-menu-item-size);
  font-family: var(--dropdown-menu-item);
  color: var(--font-deafault-b);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.text-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.icons52 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.thng-k11 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--font-default-w);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
  height: 100%;
  z-index: 2;
}
.icons53,
.tabs1,
.thng-k11 {
  position: absolute;
}
.icons53 {
  top: 9px;
  left: 14.4px;
  width: 24.7px;
  height: 24px;
  overflow: hidden;
  z-index: 3;
}
.tabs1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 170px;
  height: 48px;
  margin: 0 !important;
  bottom: 450px;
  left: 30px;
}
.icon34,
.text61 {
  position: relative;
}
.icon34 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text61 {
  width: 92px;
  line-height: 19.2px;
  white-space: pre-wrap;
  display: inline-block;
}
.icons54 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.to-kpi3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--font-default-w);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-xs);
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.icons55 {
  position: absolute;
  top: 9px;
  left: 14px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 3;
}
.to-kpi-group {
  width: 170px;
  height: 43px;
  position: absolute;
  margin: 0 !important;
  top: 308px;
  left: 30px;
  font-size: var(--dropdown-menu-item-size);
  color: var(--font-deafault-b);
}
.tabs,
.thng-bo1 {
  position: relative;
}
.tabs {
  margin-top: -58px;
  height: 1024px;
  width: 273px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl) 0 0;
  box-sizing: border-box;
}
.thng-bo1 {
  margin: 0;
  font-size: inherit;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
}
.thng-bo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-4xl);
  color: var(--color-gray-300);
}
.trnh-duyt1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
}
.icon-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--font-default-w);
  width: 100%;
  height: 100%;
  display: none;
}
.browser-icon1 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  object-fit: contain;
  z-index: 1;
}
.browser-icon {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--font-default-w);
}
.thng-bo-y {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.browser-icon-parent,
.thng-bo-y-trn-chorm-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thng-bo-y-trn-chorm-wrapper {
  flex-direction: column;
  padding: var(--padding-10xs-7) 0 0;
}
.browser-icon-parent {
  flex-direction: row;
  gap: 27.9px;
  max-width: 100%;
}
.body-icon,
.icon35 {
  position: absolute;
  top: 2.4px;
  left: 21.5px;
  width: 21.8px;
  height: 21.8px;
  overflow: hidden;
}
.body-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  max-width: 100%;
  max-height: 100%;
}
.handle,
.switch1 {
  position: absolute;
  z-index: 1;
}
.handle {
  top: calc(50% - 9.5px);
  left: 2px;
  border-radius: var(--br-sm);
  background-color: var(--font-default-w);
  width: 20px;
  height: 20px;
}
.switch1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.switch {
  align-self: stretch;
  height: 29px;
  position: relative;
}
.switch-wrapper {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3.3px;
  box-sizing: border-box;
}
.input-wrapper1,
.input5 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.input5 {
  width: 584px;
  border-radius: 10.88px;
  background-color: var(--font-default-w);
  border: 1.4px solid var(--color-darkgray-100);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-4xl) var(--padding-2xs);
  gap: var(--gap-xl);
}
.input-wrapper1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-2xl-8);
}
.m-thanh {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
}
.m-thanh-wrapper,
.trnh-duyt-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.m-thanh-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-smi);
}
.trnh-duyt-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 6.5px;
  max-width: 100%;
}
.pht-m-thanh {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.body-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.handle1 {
  position: absolute;
  top: calc(50% - 10px);
  right: 2px;
  border-radius: var(--br-sm);
  background-color: var(--font-default-w);
  width: 20px;
  height: 20px;
  z-index: 1;
}
.switch2 {
  height: 24px;
  width: 49px;
  position: relative;
  z-index: 1;
}
.icon36 {
  height: 21.8px;
  width: 21.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -28.5px;
}
.sound-components {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.sound-components-wrapper {
  width: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.input6,
.trnh-duyt,
.trnh-duyt-wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.input6 {
  width: 584px;
  border-radius: 10.88px;
  background-color: var(--font-default-w);
  border: 1.4px solid var(--color-darkgray-100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-7xl) var(--padding-base)
    var(--padding-20xl);
  gap: var(--gap-xl);
  font-size: var(--font-size-2xl-8);
}
.trnh-duyt,
.trnh-duyt-wrapper {
  justify-content: flex-start;
}
.trnh-duyt {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--font-default-w);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-28xl) 256px var(--padding-28xl) 76px;
  gap: var(--gap-base);
}
.trnh-duyt-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-xs);
}
.letter-icon {
  height: 37px;
  width: 39px;
  position: relative;
  object-fit: cover;
}
.email1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 80px;
}
.primary-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.letter-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.email-chnh {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  min-width: 125px;
}
.email-chnh-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.nguyenanhvinh52gmailcom {
  position: relative;
  font-size: var(--font-size-2xl-8);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--dropdown-menu-item);
  color: #a6a6a6;
  text-align: center;
  white-space: nowrap;
}
.check-box-icon {
  height: 22px;
  width: 23px;
  position: absolute;
  margin: 0 !important;
  right: -349px;
  bottom: -2px;
}
.input7 {
  cursor: pointer;
  border: 1.4px solid var(--color-darkgray-100);
  padding: var(--padding-9xs) var(--padding-32xl);
  background-color: var(--font-default-w);
  flex: 1;
  border-radius: 10.88px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  min-width: 264px;
  max-width: 100%;
}
.input7:hover,
.rectangle-parent1:hover {
  background-color: var(--color-gainsboro);
  box-sizing: border-box;
}
.input7:hover {
  border: 1.4px solid gray;
}
.frame-parent6 {
  width: 561px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}
.frame-parent5,
.frame-parent6,
.security-input {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.security-input {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-2xl-8);
}
.frame-parent5 {
  width: 721px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}
.ch-nhn-thng {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.check-box-icon1 {
  width: 23px;
  height: 22px;
  position: relative;
}
.check-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.frame-parent4,
.input-wrapper2,
.input8 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.input8 {
  width: 772px;
  border-radius: 10.88px;
  background-color: var(--font-default-w);
  border: 1.4px solid var(--color-darkgray-100);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) 18px var(--padding-mini) var(--padding-20xl);
  gap: var(--gap-xl);
}
.frame-parent4,
.input-wrapper2 {
  align-self: stretch;
}
.input-wrapper2 {
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-2xl-8);
}
.frame-parent4 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.ch-nhn-thng1 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.check-box-icon2 {
  width: 22px;
  height: 20px;
  position: relative;
}
.check-box-container,
.input9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.input9 {
  width: 772px;
  border-radius: 10.88px;
  border: 1.4px solid var(--color-darkgray-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-lgi) var(--padding-mini)
    var(--padding-20xl);
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-2xl-8);
}
.email,
.frame-child6,
.input9 {
  background-color: var(--font-default-w);
  box-sizing: border-box;
}
.email {
  align-self: stretch;
  border-radius: var(--br-11xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-4xl) 70px var(--padding-16xl) var(--padding-32xl);
  gap: var(--gap-6xl);
  max-width: 100%;
}
.frame-child6 {
  height: 39px;
  width: 133.9px;
  position: relative;
  border-radius: var(--br-xl);
  border: 2px solid var(--color-firebrick-200);
  display: none;
}
.quay-li {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--dropdown-menu-item);
  color: var(--color-firebrick-200);
  text-align: left;
  z-index: 1;
}
.frame-footer,
.rectangle-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 2px solid var(--color-firebrick-200);
  padding: var(--padding-5xs) var(--padding-2xs) 6.5px var(--padding-3xl);
  background-color: var(--font-default-w);
  height: 39px;
  width: 133.9px;
  border-radius: var(--br-xl);
  justify-content: flex-start;
  white-space: nowrap;
}
.rectangle-parent1:hover {
  border: 2px solid var(--color-firebrick-100);
}
.frame-footer {
  align-self: stretch;
  height: 37px;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs);
}
.ci-t-thng-bo,
.frame-section,
.general3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-section {
  width: 992px;
  flex-direction: column;
  gap: 51px;
  max-width: calc(100% - 337px);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--dropdown-menu-item);
}
.ci-t-thng-bo,
.general3 {
  position: relative;
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
}
.general3 {
  height: 1023px;
  flex: 1;
  box-shadow: 3px 3.8px 3.76px 3px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-600);
  padding: 57px 0 var(--padding-12xs);
  gap: var(--gap-45xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--dropdown-menu-item);
}
.ci-t-thng-bo {
  width: 100%;
  background-color: var(--color-lightsteelblue-100);
  padding: var(--padding-12xs) 0 0;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1000px) {
  .email,
  .trnh-duyt {
    box-sizing: border-box;
  }
  .trnh-duyt {
    padding-left: 38px;
    padding-right: 128px;
  }
  .email {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-16xl);
  }
}
@media screen and (max-width: 975px) {
  .sidebar3 {
    padding-bottom: var(--padding-184xl);
    box-sizing: border-box;
  }
  .tabs {
    display: none;
  }
  .email1,
  .m-thanh,
  .thng-bo1,
  .trnh-duyt1 {
    font-size: var(--font-size-7xl);
    line-height: 16px;
  }
  .email1,
  .m-thanh,
  .trnh-duyt1 {
    line-height: 22px;
  }
  .frame-section {
    max-width: 100%;
  }
  .general3 {
    padding: 37px var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .input5,
  .input6 {
    flex-wrap: wrap;
  }
  .trnh-duyt {
    padding-right: 64px;
    box-sizing: border-box;
  }
  .frame-section {
    gap: var(--gap-6xl);
  }
  .general3 {
    height: auto;
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .company3 {
    font-size: var(--dropdown-menu-item-size);
    line-height: 19px;
  }
  .sidebar3 {
    padding-bottom: var(--padding-113xl);
    box-sizing: border-box;
  }
  .anh-vinh3 {
    font-size: var(--dropdown-menu-item-size);
    line-height: 19px;
  }
  .kpi-control3,
  .thng-bo1,
  .trnh-duyt1 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .thng-bo1,
  .trnh-duyt1 {
    line-height: 12px;
  }
  .trnh-duyt1 {
    line-height: 16px;
  }
  .thng-bo-y {
    font-size: var(--font-size-mid);
    line-height: 22px;
  }
  .browser-icon-parent {
    flex-wrap: wrap;
  }
  .m-thanh {
    font-size: var(--font-size-lgi);
    line-height: 16px;
  }
  .pht-m-thanh {
    font-size: var(--font-size-mid);
    line-height: 22px;
  }
  .email1 {
    font-size: var(--font-size-lgi);
    line-height: 16px;
  }
  .email-chnh,
  .nguyenanhvinh52gmailcom {
    font-size: var(--font-size-mid);
    line-height: 22px;
  }
  .input7 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .ch-nhn-thng,
  .ch-nhn-thng1 {
    font-size: var(--font-size-mid);
    line-height: 22px;
  }
  .general3 {
    gap: var(--gap-base);
    padding-top: var(--padding-5xl);
    box-sizing: border-box;
  }
}
