.icon10 {
  height: 32px;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 69px;
  left: 274px;
}
.unsplashrmowqdcqn2e-icon2 {
  height: 39px;
  width: 39px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.company1 {
  height: 23px;
  width: 90px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.unsplashrmowqdcqn2e-group {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  gap: var(--gap-4xs);
}
.icon-users6 {
  width: 24px;
  overflow: hidden;
}
.icon-users6,
.icons14,
.text15 {
  height: 24px;
  position: relative;
  flex-shrink: 0;
}
.text15 {
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.icons14 {
  width: 24px;
  overflow: hidden;
  display: none;
}
.sidebar-tabs7 {
  width: 121px;
  border-radius: var(--br-3xs);
  background-color: var(--base-primary-1);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
  color: var(--font-default-w);
}
.icon11,
.text16 {
  position: relative;
}
.icon11 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text16 {
  height: 19px;
  flex: 1;
  display: inline-block;
}
.icons15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sidebar-tabs8 {
  width: 125px;
  border-radius: var(--br-3xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.icon12,
.text17 {
  position: relative;
}
.icon12 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text17 {
  height: 19px;
  flex: 1;
  display: inline-block;
}
.icons16 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div1,
.icons16 {
  position: relative;
}
.badges1,
.sidebar-tabs10 {
  justify-content: flex-start;
}
.badges1 {
  border-radius: var(--br-3xl);
  background-color: var(--color-indianred);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs);
  text-align: center;
  color: var(--font-default-w);
}
.sidebar-tabs10 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-mini);
  gap: var(--gap-xs);
}
.text18 {
  height: 24px;
  width: 72px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.sidebar-tabs12 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
}
.text19 {
  height: 24px;
  width: 72px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.sidebar-tabs22 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
}
.text20 {
  height: 24px;
  width: 72px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.sidebar-tabs1-group,
.sidebar-tabs32,
.sidebar-tabs9 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-tabs32 {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-mini);
}
.sidebar-tabs1-group,
.sidebar-tabs9 {
  flex-direction: column;
}
.sidebar-tabs1-group {
  display: flex;
  padding: 0 0 0 var(--padding-17xl);
}
.sidebar-tabs9 {
  display: none;
  gap: var(--gap-xs);
}
.icon-users7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text21 {
  height: 19px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.icons17 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sidebar-tabs13 {
  width: 110px;
  border-radius: var(--br-3xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.main-tabs1 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-5xs);
}
.icon-users8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text22 {
  height: 19px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.icons18 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sidebar-tabs14 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-11xs) var(--padding-xs)
    var(--padding-mini);
  gap: var(--gap-xs);
}
.secondary-tabs1 {
  width: 189px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-13xl);
  box-sizing: border-box;
}
.main-tabs-group,
.sidebar1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.main-tabs-group {
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--dropdown-menu-item-size);
  color: var(--font-deafault-b);
}
.sidebar1 {
  margin-top: -1px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--font-default-w);
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 var(--padding-294xl) 0;
  gap: var(--gap-xs);
  z-index: 1;
}
.icon-users9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text23 {
  position: relative;
  display: inline-block;
  min-width: 72px;
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.icons19 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.sidebar-tabs15,
.unsplashrmowqdcqn2e-icon3 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.sidebar-tabs15 {
  bottom: 26px;
  left: 35px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  gap: var(--gap-xs);
  font-size: var(--dropdown-menu-item-size);
  color: var(--font-deafault-b);
}
.unsplashrmowqdcqn2e-icon3 {
  width: 39px;
  height: 39px;
  top: 151px;
  left: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.anh-vinh1 {
  width: 90px;
  top: 159px;
  right: 85px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.anh-vinh1,
.kpi-control1,
.remove-bg-1-icon1 {
  margin: 0 !important;
  position: absolute;
  z-index: 2;
}
.remove-bg-1-icon1 {
  width: 45px;
  height: 45px;
  top: 18px;
  left: 22px;
  object-fit: cover;
}
.kpi-control1 {
  width: 194px;
  top: 27.5px;
  right: 0;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.04em;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-gray-200);
  display: inline-block;
}
.content-panel-child {
  height: 48px;
  width: 170px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--font-default-w);
  display: none;
}
.icon-users10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text24 {
  position: relative;
  font-size: var(--dropdown-menu-item-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  font-family: var(--dropdown-menu-item);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 76px;
  margin-left: 36px;
}
.icons20 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.trang-ch2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
  height: 100%;
}
.frame-item {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 33px;
  height: 23px;
  object-fit: cover;
  z-index: 1;
}
.trang-ch-group {
  height: 48px;
  flex: 1;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
.content-panel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--font-default-w);
  width: 171px;
  margin: 0 !important;
  position: absolute;
  top: 377px;
  left: 30px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.icon-users11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text25 {
  position: relative;
  font-size: var(--dropdown-menu-item-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  font-family: var(--dropdown-menu-item);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.icons21 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.trang-ch3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-mini);
  background-color: var(--font-default-w);
  width: 170px;
  margin: 0 !important;
  position: absolute;
  top: 235px;
  left: 30px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
  z-index: 2;
}
.icon13,
.text26 {
  position: relative;
}
.icon13 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text26 {
  font-size: var(--dropdown-menu-item-size);
  font-family: var(--dropdown-menu-item);
  color: var(--font-deafault-b);
  text-align: left;
  display: inline-block;
  min-width: 66px;
}
.text-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.icons22 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.thng-k3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-mini);
  background-color: var(--font-default-w);
  width: 170px;
  margin: 0 !important;
  position: absolute;
  top: 451px;
  left: 30px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
  z-index: 2;
}
.icon14,
.text27 {
  position: relative;
}
.icon14 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text27 {
  font-size: var(--dropdown-menu-item-size);
  display: inline-block;
  font-family: var(--dropdown-menu-item);
  color: var(--font-default-w);
  text-align: left;
  min-width: 52px;
  margin-left: 36px;
}
.text-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.icons23 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.thng-k4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--base-primary-1);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
  height: 100%;
  z-index: 2;
}
.settings-icon1 {
  position: absolute;
  top: 12px;
  left: 12.6px;
  width: 21.8px;
  height: 24px;
  object-fit: cover;
  z-index: 3;
}
.thng-k-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 170px;
  height: 48px;
  position: absolute;
  margin: 0 !important;
  bottom: 372px;
  left: 30px;
}
.icon15,
.text28 {
  position: relative;
}
.icon15 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text28 {
  font-size: var(--dropdown-menu-item-size);
  font-family: var(--dropdown-menu-item);
  color: var(--font-deafault-b);
  text-align: left;
  display: inline-block;
  min-width: 84px;
  margin-left: 36px;
}
.text-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.icons24 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.thng-k5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--font-default-w);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xs);
  height: 100%;
}
.icons25 {
  position: absolute;
  top: 9px;
  left: 14.4px;
  width: 24.7px;
  height: 24px;
  overflow: hidden;
  z-index: 1;
}
.thng-k-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 170px;
  height: 48px;
  position: absolute;
  margin: 0 !important;
  bottom: 450px;
  left: 30px;
  z-index: 2;
}
.icon16,
.text29 {
  position: relative;
}
.icon16 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text29 {
  width: 92px;
  line-height: 19.2px;
  white-space: pre-wrap;
  display: inline-block;
  margin-left: 36px;
}
.icons26 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.to-kpi1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--font-default-w);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-xs);
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.icons27 {
  position: absolute;
  top: 9px;
  left: 14px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 3;
  
}
.k-p-i-creation1 {
  width: 170px;
  height: 43px;
  position: absolute;
  margin: 0 !important;
  top: 308px;
  left: 30px;
  font-size: var(--dropdown-menu-item-size);
  color: var(--font-deafault-b);
}
.sidebar-parent {
  height: 1024px;
  width: 273px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl) 0 0;
  box-sizing: border-box;
  position: relative;
}
.bo-mt1 {
  margin: 0;
  width: 164px;
  position: relative;
  font-size: inherit;
  line-height: 15.04px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.mt-khu-c,
.thay-i-mt {
  position: relative;
  font-weight: 600;
}
.thay-i-mt {
  align-self: stretch;
}
.mt-khu-c {
  width: 270.5px;
  display: inline-block;
  flex-shrink: 0;
}
.mt-khu-c-wrapper,
.thay-i-mt-khu-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.mt-khu-c-wrapper {
  width: 439.4px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xl-3);
}
.thay-i-mt-khu-parent {
  position: absolute;
  top: 55px;
  left: 110px;
  width: 495.5px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 34.4px;
  font-size: 37.3px;
}
.frame-inner {
  border: 2.3px solid var(--color-gray-100);
  outline: 0;
  background-color: var(--font-default-w);
  height: 59.1px;
  width: 482.3px;
  position: relative;
  border-radius: 5.83px;
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: calc(100% - 0px);
}
.rectangle-wrapper {
  align-self: stretch;
  height: 54.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.mt-khu-mi {
  width: 270.5px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-group {
  position: absolute;
  top: 215px;
  left: 195.1px;
  width: 539.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35.1px;
  max-width: 100%;
;
}
.rectangle-input {
  border: 2.3px solid var(--color-gray-100);
  outline: 0;
  background-color: var(--font-default-w);
  position: absolute;
  top: 564px;
  left: 277px;
  border-radius: 5.83px;
  box-sizing: border-box;
  width: 462.3px;
  height: 59.1px;
}
.confirm-password-input-child {
  height: 54.4px;
  width: 457.6px;
  position: relative;
  border-radius: 5.83px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
  
}
.confirm-password-input {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.xc-nhn-mt {
  width: 332.3px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.confirm-password-input-parent {
  position: absolute;
  top: 382.6px;
  left: 195px;
  width: 543.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
  max-width: 100%;
  margin-top: 50px;
}
.rectangle-div {
  position: absolute;
  top: 674px;
  left: 739px;
  border-radius: var(--br-xl);
  background-color: var(--color-cornflowerblue);
  width: 149px;
  height: 40px;
}
.frame-child1 {
  height: 39px;
  width: 84.2px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--font-default-w);
  border: 2px solid var(--color-firebrick-200);
  box-sizing: border-box;
  display: none;
}
.hy {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--dropdown-menu-item);
  color: var(--color-firebrick-200);
  text-align: left;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
}
.rectangle-parent,
.xc-nhn {
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.rectangle-parent {
  cursor: pointer;
  border: 2px solid var(--color-firebrick-200);
  padding: var(--padding-8xs) var(--padding-mini) var(--padding-8xs)
    var(--padding-4xl);
  background-color: var(--font-default-w);
  width: 84.2px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent:hover {
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-firebrick-100);
  box-sizing: border-box;
}
.xc-nhn {
  align-self: stretch;
  height: 30px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.button-panel,
.confirm-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirm-button {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 200px;
}
.button-panel {
  position: absolute;
  top: 674px;
  left: 615px;
  width: 452px;
  flex-direction: row;
  gap: 67.8px;
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--font-default-w);
}
.frame-parent {
  height: 766px;
  width: 938px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--font-default-w);
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
}
.change-password-form {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: var(--font-size-11xl-3);
  color: var(--color-gray-400);
}
.security-header {
  align-self: stretch;
  flex-direction: column;
  gap: 45px;
  max-width: 100%;
}
.ci-t-bo-mt,
.general1,
.security-header,
.security-panel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.security-panel {
  width: 990px;
  flex-direction: column;
  padding: var(--padding-62xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--dropdown-menu-item);
}
.ci-t-bo-mt,
.general1 {
  position: relative;
  overflow: hidden;
  flex-direction: row;
}
.general1 {
  flex: 1;
  box-shadow: 3px 3.8px 3.76px 3px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-600);
  gap: 48px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--dropdown-menu-item);
}
.ci-t-bo-mt {
  width: 100%;
  background-color: var(--color-lightsteelblue-100);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1250px) {
  .general1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .sidebar1 {
    padding-bottom: var(--padding-184xl);
    box-sizing: border-box;
  }
  .security-panel {
    padding-top: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .bo-mt1 {
    font-size: var(--font-size-7xl);
    line-height: 12px;
  }
  .thay-i-mt {
    font-size: 30px;
  }
  .mt-khu-c,
  .mt-khu-mi,
  .xc-nhn-mt {
    font-size: var(--font-size-5xl);
  }
  .security-header {
    gap: 22px;
  }
  .general1 {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .company1 {
    font-size: var(--dropdown-menu-item-size);
    line-height: 19px;
  }
  .sidebar1 {
    padding-bottom: var(--padding-113xl);
    box-sizing: border-box;
  }
  .anh-vinh1 {
    font-size: var(--dropdown-menu-item-size);
    line-height: 19px;
  }
  .bo-mt1,
  .kpi-control1 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .bo-mt1 {
    line-height: 9px;
  }
  .thay-i-mt {
    font-size: 22px;
  }
  .mt-khu-c,
  .mt-khu-mi,
  .xc-nhn-mt {
    font-size: var(--font-size-lg);
  }
  .hy,
  .xc-nhn {
    font-size: var(--dropdown-menu-item-size);
  }
  .button-panel {
    flex-wrap: wrap;
  }
  .frame-parent {
    height: auto;
    min-height: 766;
  }
  .security-panel {
    padding-top: var(--padding-15xl);
    box-sizing: border-box;
  }
}
