/* trang thêm công việc */
.trang-ch{
  /* width: 0px;
  margin-right: 20px; */
}
.main-tabs-parent{
  /* display: flex; */
  /* width: 100px; */
}
.container1{
  background-color: #E9F1F9;
  height: 1024px;
}
.block-task{
  background-color:#DE9090;
  height: 100px;
  width: 500px;
  margin: 0px auto;
}
.box-parent{
  background-color:#f9f9f9;
  height: 780px;
  width: 60%;
  margin: 100px auto;
  border-radius: 20px;
  /* display: flex; */
  border: 2px solid #cab3b3;
}
.sidebar-parent{
  border-right: 1px solid #000000;
}
.col-custom {
  flex: 0 0 20.8333%; /* 2.5 / 12 * 100% */
  max-width: 20.8333%;
}
.title-tcv{
  padding-top: 28px;
  padding-bottom: 15px;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 36px; /* Adjust the size as needed */
   /* Adjust the color as needed */
  font-weight: 600;
}
.de-xuat{
  
  padding-top: 15px;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 20px; /* Adjust the size as needed */
   /* Adjust the color as needed */
  font-weight: 600;
}
.box-center{
  margin-top: 30px;
  width: 100%;
}
.task-name-custom{
  flex: 0 0 5.9166%; /* 2.5 / 12 * 100% */
  max-width: 5.9166%;
}
.task-name{
  padding: 15px;
  font-size: 32px; /* Adjust the size as needed */
  color: #050505; /* Adjust the color as needed */
  font-weight: 600; /* Semi-bold */

}
.can-trai-item{
  flex: 0 0 4.9166%; /* 2.5 / 12 * 100% */
  max-width: 4.9166%;
}
.can-phai-item{
  flex: 0 0 5.9166%; /* 2.5 / 12 * 100% */
  max-width: 5.9166%;
}
.task-item{
  /* background-color: #fcfcfc; */
  height: 88px;
  
  border-radius: 16px;
  /* width: 1; */
  margin-top: 10px;

}
.item-title{
  margin-left: 16px;
  font-size: 16px; /* Adjust the size as needed */
   /* Adjust the color as needed */
  font-weight: 700;
}
.item-des{
  margin-left: 36px;
  margin-top: 5px;
  font-size: 13px; /* Adjust the size as needed */
   /* Adjust the color as needed */
  font-weight: 400;
}
.item-time{
  /* margin-top: 7px; */
  margin-left: 36px;
  font-weight: 500;
  font-size: 13px;
}
.item-date{
  margin-top: 7px;
  margin-left: 75px;
  font-weight: 500;
  font-size: 13px;
}
.item-icon{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px
}
.task{
  margin-bottom: 15px;
  margin-top: 15px;
}

.add-task-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  
  /* background: #e6bbbb; */
}
.add-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 400px;
  background: #367AFF;
  border-radius: 50px;
  margin-top: 200px;
  font-size: 24px;
  border: none;
  font-weight: 600;
  color: #f1f1f1;
  
}

.themnv-text{
  margin-top: 15px;
}
.modal-content{
  display: flex;
  width: 700px;
  height: 830px;
  border-radius: 30px;
}
.modal-title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  font-size: 32px; 
  margin-top: 20px;
  font-weight: 700;
  
  
}
.form-line{
  margin-top: 30px;
  padding-left: 10px;
  margin-bottom: 30px;
}

.modal-body{
  margin-top: 30px;
}
.field-name-box{
  /* height: 50px;
  width: 50px; */
}
.field-name{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding-left: 10px;
  padding-right: 10px; */
  height: 30px;
  width: 200px;
  /* background-color: #F98989; */
  border-radius: 15px;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  font-weight: 600;
/* line-height: 16.946px; 84.729%
letter-spacing: 0.353px; */
}
.field-content-box{
  height: 80px;
  width: 300px;
  margin: 0px auto;
  padding-top: 20px;
  /* margin-top: 200px; */
}
.field-content{
  /* margin-top: 200px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* padding-left: 10px;
  padding-right: 10px; */
  height: 40px;
  width: 90%;
  margin: 0px auto;
  background-color: #f1f1f1;
  border: solid 1px #E6DFDF;
  border-radius:20px;
  color: #040404;
  font-size: 16px;
}
.content1{
  /* margin-top: 200px; */
  margin-left: 25px;
}
.field-time-box{
  height: 50px;
  width: 50px;
}
.field-time{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  /* padding-left: 10px;
  padding-right: 10px; */
  height: 30px;
  width: 125px;
  background-color: #E6DFDF;
  border-radius: 10px;
  color: #000000;
  font-size: 16px;
}
.calendar1{
  display: flex;
  max-width: 200px;
}
.time-div{
  position: relative;
  /* top: 200px; */
}
.div-2{
  position: absolute;
  top: 0px;
}
.modal-footer{
  border-top: none;
}
.huy-btn{
  /* border: solid red;
  color: red; */
  /* height: 40px; */
  
  color: #B11C1C;

font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.xac-nhan-btn{
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 34px; */
  color: #FFF;

font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
}
.btn-line{
  margin-top: 200px;
}
.add-group{
  margin-bottom: 250px;
}

.col-btn-custom{
  
    flex: 0 0 15.8333%; /* 2.5 / 12 * 100% */
    max-width: 10.8333%;
    height: 50px;
    
}





/* //////////////////////?
 */
 
 .kpi-title-row{
  /* display: flex; */
  /* display: flex; */
  width: 100%;
  height: 36%;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  /* position: relative; */
    /* width: 50%; */
    /* padding-top: 50px; */
    
 }
 .kpi-title-box{
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: 0.1px;
  /* position: absolute; */
  margin: 50px auto 30px auto;
    width: 250px;
    height: 50px;
    /* margin: 0px auto; */
    background-color: #fffcfc;
    border-radius: 30px;
    /* top:70px  */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: #cfd0d1 2px solid;
 }
 .kpi-title{

 }
 .kpi-name-row{
  margin: 0px 35px 20px 50px;
  color: #1C1C1C;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    padding-bottom: 80px;
    }
 .kpi-name-box{
  position: absolute;
  display: inline-block;
    margin-left: 40px;
    width: 70%;
    height: 6vh;
    background-color: #fdfdfd;
    border-radius: 8px;
    border: 3px solid #858585;
    text-align: center;
    /* margin-top: 200px; */
    /* padding-top: 20px; */
    top: 3px;
    
 }
 .kpi-name{
  display: inline-block;
    padding-top: 7px;
    color: #A6A6A6;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
 }

 .kpi-des-row{
  margin: 0px 35px 20px 50px;
  color: #1C1C1C;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    padding-bottom: 80px;

}
.kpi-des-box{
  position: absolute;
  display: inline-block;
    margin-left: 58px;
    width: 70%;
    height: 25vh;
    background-color: #fdfdfd;
    border-radius: 8px;
    border: 3px solid #858585;
    /* text-align: ; */
    /* margin-top: 200px; */
    /* padding-top: 20px; */
    top: 3px;
}

.kpi-des{
  display: inline-block;
    padding: 20px 20px 0 20px ;
    color: #A6A6A6;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 
.kpi-date-row{
  margin-top: 130px;
  margin-left: 90px;
  
}
.kpi-date-start{
  margin-right: 130px;
  color: #1C1C1C;

font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.kpi-date-end{
  color: #1C1C1C;

font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.kpi-date{
  color: #A6A6A6;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.kpi-btn-row{
  padding-top: 80px;
}



/* upload cong viec  */

.parent-box{
  width: 70vh;
  height: 85vh;
  margin: 0px auto;
  background-color: #fffcfc;
  border-radius: 8px;
  border: 2px solid #c7c6c6;
  /* box-shadow:inset ; */
}
.upload-parent-box{
  width: 60vh;
  height: 28vh;
  margin: 30px auto;
  background-color: #fffcfc;
  border-radius: 8px;
  border: 2px dashed #d0cfd0;
}

.upload-content-box{
  text-align: center;
}
.upload-text1{
  display: inline-block;
  color: var(--Text-2-color, #454545);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
/* padding-top: 25px; */
}
.upload-text2{
  display: inline-block;
  color: #676767;

  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; 
  padding-top: 20px;
}
.file-parent-box{
  margin: 30px auto;
  width: 60vh;
  /* height: 28vh; */
  /* background-color: #ebebeb; */
}
.loading-file{
  color: #676767;

/* text-align: center; */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.file-item{ 
  margin-bottom: 16px;
}
.file-item-loading-box{
  height: 36px;
  border: 1px solid #4FC3F7;
  border-radius: 4px;
  
  /* text-align: center; */
}
.file-loading-content{
  color: #0F0F0F;

/* text-align: center; */
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
  /* display: inline-block; */
  padding: 8px 10px 8px 10px;
  display: flex;
  justify-content: space-between;
  
}
.upload-btn{
  height: 45px;
  border-radius: 4px;
background: #367AFF;
display: flex;
justify-content: center;
  align-items: center;
}
.upload-btn-text{
  /* display: inline-block; */
  
  color: #FFF;

font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 128.571% */
text-transform: uppercase;
}
.loading-bar::after {
  content: ''; /* Ensure pseudo-element is created */
  display: block;
  height: 2px;
  width: 70%;
  background-color: #4FC3F7;
}
.loaded-file-icon{
  color: #B11C1C;
}
