body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --dropdown-menu-item: Roboto;
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;
  --font-inter: Inter;

  /* font sizes */
  --dropdown-menu-item-size: 16px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-2xs-3: 10.3px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;

  /* Colors */
  --icon-white: #fff;
  --font-deafault-b: #343434;
  --color-black: #000;
  --base-primary-1: #0832de;
  --color-gray-100: #7a7a7a;
  --color-gray-200: #1c1c1c;
  --color-gray-300: #111;
  --color-gray-400: #0c0c0c;
  --color-gray-500: rgba(27, 24, 24, 0.8);
  --color-gray-600: rgba(0, 0, 0, 0.53);
  --color-gray-700: rgba(18, 18, 18, 0.7);
  --color-royalblue-100: #5272e9;
  --color-darkgray: #a6a6a6;
  --color-gainsboro: #e6e6e6;

  /* Gaps */
  --gap-xs: 12px;
  --gap-lgi: 19px;
  --gap-7xs-6: 5.6px;
  --gap-xl: 20px;
  --gap-mid: 17px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-10xs-5: 2.5px;
  --padding-13xl: 32px;
  --padding-11xs: 2px;
  --padding-20xl: 39px;
  --padding-27xl: 46px;
  --padding-mid: 17px;
  --padding-11xl: 30px;
  --padding-12xs: 1px;
  --padding-2xs: 11px;
  --padding-sm-2: 13.2px;
  --padding-sm-1: 13.1px;
  --padding-base: 16px;
  --padding-smi: 13px;
  --padding-sm-6: 13.6px;
  --padding-4xs: 9px;
  --padding-smi-7: 12.7px;
  --padding-5xs: 8px;
  --padding-sm-5: 13.5px;
  --padding-smi-8: 12.8px;
  --padding-lg: 18px;
  --padding-7xs: 6px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-11xl: 30px;
  --br-8xs-7: 4.7px;
  --br-5xs-5: 7.5px;
  --br-base: 16px;
}
